{% extends 'base.html.twig' %}


{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{programs.poster}}" alt="{{ programs.title }} poster">
        <div class="media-body">
            <h2 class="mt-0 text-center">{{ programs.title }}</h2>
            <h4>{{ programs.summary }}</h4>
            <br/>
            <h4 class="mb-5">Categorie : {{ programs.category.name }}</h4>
            <h5>{{ season.year }} - {{ season.description}}</h5>
            {% for episode in episodes %}
                <ul>
                    <h5>{{ episode.title }}</h5>
                    <a href="{{ path('show_episode', {id: episode.id}) }}">Episode n°: {{ episode.number }}</a>

                </ul>
            {% endfor %}
        </div>
    </div>
    <a href="/show/{{ (programs.title|replace({" ":"-"}) | title)|lower }}" >Précédent</a>
    </br>
    <a href="{{ path('index') }}">
        Retour à l'accueil
    </a>

{% endblock %}