{% extends "base.html.twig" %}
{% block title %}All seasons{% endblock %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
            <h1> {{ seasons.description }} :</h1>
            {% for episode in episodes %}
                <a href="{{ path('show_episode', {'id': episode.id }) }}"><p>{{ episode.number }} - {{ episode.title}}</p></a>
            {% else %}
                Aucun épisode trouvés.
            {% endfor %}
        </div>
        <div>
            <a href="{{ path('show_program', {'id': program.title }) }}">
                Retour au programme
            </a><br>
            <a href="{{ path('wild_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>
{% endblock %}