
{% extends "base.html.twig" %}
{% block title %}All seasons{% endblock %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0 text-center">{{ program.title }}</h1>
            <h2>{{ program.summary }}</h2>
            <h3 class="text-center mb-4">Categorie : {{ program.category.name }}</h3>
            <h4 class="mb-5"> {{ seasons.description }} :</h4>
            {% for episode in episodes %}
                <a href="{{ path('show_episode',{'id': episode.id }) }}"><p> {{ episode.title}}</p></a>
            {% else %}
                Aucun épisode trouvés.
            {% endfor %}
        </div>
        <div>
            <a href="{{ path('show_program', {'id': program.title }) }}">
                Retour au programme
            </a><br>
            <a href="{{ path('wild_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>
{% endblock %}