
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{programs.poster}}" alt="{{ programs.title }} poster">
        <div class="media-body">
            <h1 class="mt-0 text-center">{{ programs.title }}</h1>
            <p>{{ programs.summary }}</p>
            <h4>Categorie : {{ programs.category.name }}</h4>
            {% for s in season %}
                <ul>
                    <li>
                    <a href="{{ path('show_season', {id: s.id}) }}">{{ s.description }}</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('index') }}">
        Retour à l'accueil
    </a>

{% endblock %}