
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{programs.poster}}" alt="{{ programs.title }} poster">
        <div class="media-body">
            <h1 class="mt-0 text-center">{{ programs.title }}</h1>
            <p>{{ programs.summary }}</p>
            <h4>Categorie : {{ programs.category.name }}</h4>
            {% for s in season %}
                <ul>
                    <li>
                    <a href="{{ path('season', {id: s.id}) }}">{{ s.description }}</a>
                    </li>
                </ul>
            {% endfor %}

        <br/>
            <h4>Acteur :</h4>
            <ul>
                {% for actor in programs.actors %}
                <a href="{{ path('actor', {name: actor.name|lower |replace({' ':'-'})}) }}">
                    <li> {{ actor.name }} </li>
                </a>
                <br/>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <a href="{{ path('index') }}">
        Retour à l'accueil
    </a>

{% endblock %}