{% extends 'base.html.twig' %}

{% block body %}

    <body>

     <h1 class="text-center mt-4"> Bienvenue sur Wild Séries !</h1>

    <div class="container mt-5">
        <div class="row">
            {% for program in programs %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <a href="{{ path('wild_show', {'slug': program.title}) }}">
                        <img class="card-img-top" src="{{ program.poster }}" alt="{{ program.title }} ">
                        <div class="card-body">
                            <p class="card-text">{{ program.title }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

     {#   #}{# templates/index.html.twig #}{#
        <a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
            Testing show() method from WildController with a real program s slug.
        </a>
        <br>
        <a href="{{ path('wild_index') }}">
            Testing index() method from WildController to view all programs.
        </a>#}


    </body>




{% endblock %}