<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href={{ path('index') }}>Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="wild/category/horreur">Horreur</a>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('index') }} >
                    Liste des séries
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gestion du site
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">



                    <a class="dropdown-item" href={{ path('category') }}>Catégories</a>

                    <a class="dropdown-item" href={{ path('index')}}>Séries</a>
                    <a class="dropdown-item" href={{ path('season_index') }}>Saisons</a>
                    <a class="dropdown-item" href={{ path('episode_index') }}>Episodes</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
